<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
        <hr>
        <div class="jumbotron">
          <h1>File upload successfully</h1>

        </div>
        <div>
          <span class="fa fa-sign-out"><a href="/profile">ProfilePage</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
